---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Desafio from '../components/sections/Desafio.astro';
import Metodo from '../components/sections/Metodo.astro';
import Servicios from '../components/sections/Servicios.astro';
import SobreSergio from '../components/sections/SobreSergio.astro';
import Resultados from '../components/sections/Resultados.astro';
import Articulos from '../components/sections/Articulos.astro';
import Contacto from '../components/sections/Contacto.astro';
import Testimonios from '../components/sections/Testimonios.astro';
---

<Layout>
  <Navbar />
  <main id="main-content">
    <Hero />
    <Desafio />
    <Metodo />
    <Servicios />
    <Testimonios />
    <SobreSergio />
    <Resultados />
    <Articulos />
    <Contacto />
  </main>
  <Footer />
</Layout>
